<%= form_for @binder do |f| %>
  <%= f.text_field :name, :autofocus => true %>
  <%= f.label :name %><br>
  <%= f.text_field :description %>
  <%= f.label :description %>

<h3>Selected cities will be in this binder</h3>

<% Demographic.order(:city).each do |demographic| %>
  <span class="white"><%= demographic.city %>, <%= demographic.state %></span>
  <%= check_box_tag 'binder[demographic_ids][]', demographic.id, demographic.in?(@binder.demographics) %><br>
<% end %>


  <%= f.submit %>
<% end %>
