      <!-- Header Content -->

      <div class="row">
        <div class="six columns">

          <iframe width="442" height="430" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%= @demographic.latitude %>+<%= @demographic.longitude %>&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=<%= @demographic.latitude %>,<%= @demographic.longitude %>&amp;output=embed"></iframe>
        </div>

        <div class="six columns">
          <div class="panel">
            <h4 class="hide-for-small"> <%= @demographic.city %>,  <%= @demographic.state %><hr/></h4>
            <h5 class="subheader">
              Avg household income: <strong><%= number_to_currency(@demographic.household_income, :precision => 0 ) || "No data" %></strong><br>
              Avg value of single family home: <strong><%= number_to_currency(@demographic.single_family_home, :precision => 0) || "No data"  %></strong><br>
              Single Males: <strong><%= number_to_percentage(@demographic.single_males, :precision => 2) || "No data"  %></strong><br>
              Single Females: <strong><%= number_to_percentage(@demographic.single_females, :precision => 2) || "No data" %></strong><br>
              Median Age: <strong><%= @demographic.median_age || "No data" %></strong><br>
              Homes with kids:  <strong><%= number_to_percentage(@demographic.homes_with_kids, :precision => 2) || "No data"  %></strong><br>
              Owners: <strong><%= number_to_percentage(@demographic.owners, :precision => 2) || "No data"  %></strong><br>
              Renters: <strong><%= number_to_percentage(@demographic.renters, :precision => 2) || "No data"  %></strong><br>
            </h5>

            <% if @demographic.city == "Sorry" %>
            <a class="radius button" href="/">Search again</a>
            <% else %>
            <%= form_for @demographic, :html => {:class => 'custom'}  do |f| %>
            <%= f.submit "Add city to binder with optional note...", :class => "radius button small" %><br><br>
            <%= f.collection_select :binder_ids, Binder.all, :id, :name %>
            <%= f.text_field  :note %>
            <% end %>
            <% end %>



          </div>
        </div>
      </div>


      <div class="row">

        <div class="six columns">
          <div class="panel">
            <h5>National stats</h5>
            <h6 class="subheader">
              <%= render :partial => "national_stats" %>
            </h6>
          </div>
        </div>



        <div class="six columns">
          <div class="panel">
            <h5><%= @demographic.city %> compared to the nation</h5>
            <h6 class="subheader">
              <%= render :partial => "usa_vs_neighborhood" %>
            </h6>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <div class="panel">
            <h5>National stats</h5>
            <h6 class="subheader">
              <%= render :partial => "national_stats" %>
            </h6>
          </div>
        </div>


        <div class="six columns">
          <div class="panel">
            <h5>Search again</h5>
            <%= render :partial => "search_form" %>
          </div>
        </div>

      </div>

      <!-- Create new binder -->
      <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
        <h2>Awesome. I have it.</h2>
        <p class="lead">Your couch.  It is mine.</p>
        <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>


