      <!-- Header Content -->

      <div class="row">
        <div class="six columns">

          <iframe width="442" height="390" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%= @demographic.latitude %>+<%= @demographic.longitude %>&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=<%= @demographic.latitude %>,<%= @demographic.longitude %>&amp;output=embed"></iframe>
        </div>

        <div class="six columns">
          <div class="panel">
            <h4 class="hide-for-small"> <%= @demographic.city %>,  <%= @demographic.state %><hr/></h4>
            <h5 class="subheader">
              Avg household income: <strong><%= number_to_currency(@demographic.household_income, :precision => 0 ) || "No data" %></strong><br>
              Avg value of single family home: <strong><%= number_to_currency(@demographic.single_family_home, :precision => 0) || "No data"  %></strong><br>
              Single Males: <strong><%= number_to_percentage(@demographic.single_males, :precision => 2) || "No data"  %></strong><br>
              Single Females: <strong><%= number_to_percentage(@demographic.single_females, :precision => 2) || "No data" %></strong><br>
              Median Age: <strong><%= @demographic.median_age || "No data" %></strong><br>
              Homes with kids:  <strong><%= number_to_percentage(@demographic.homes_with_kids, :precision => 2) || "No data"  %></strong><br>
              Owners: <strong><%= number_to_percentage(@demographic.owners, :precision => 2) || "No data"  %></strong><br>
              Renters: <strong><%= number_to_percentage(@demographic.renters, :precision => 2) || "No data"  %></strong><br>
             </h5>

             <% if @demographic.city == "Sorry" %>
               <a class="radius button" href="/">Search again</a>
             <% else %>
               <%= form_for @demographic, :html => {:class => 'custom'}  do |f| %>
                  <%= f.submit "Add city to binder with optional note...", :class => "radius button small" %><br><br>
                  <%= f.select :binder_id, Binder.all.map {|binder| [binder.name, binder.id]}, :include_blank => true, :prompt => "Select Binder" %>

                  <%= f.text_field  :note %>



                <% end %>
              <% end %>



          </div>
        </div>
      </div>


      <div class="row">
       <div class="six columns">
        <div class="panel">
          <h5>Search again</h5>
          <%= render :partial => "search_form" %>
        </div>
      </div>

      <div class="six columns">
        <div class="panel">
          <h5>Cities in your binder</h5>
          <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
          <a href="#" class="small button">BUTTON TIME!</a>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="six columns">
        <div class="panel">
          <h5>National stats</h5>
          <h6 class="subheader">
            <%= render :partial => "national_stats" %>
          </h6>
        </div>
      </div>

      <div class="six columns">
        <div class="panel">
          <h5><%= @demographic.city %> compared to nation</h5>
          <h6 class="subheader">
            <%= render :partial => "national_stats" %>
          </h6>
        </div>
      </div>

    </div>

    <!-- End Header Content -->



