      <!-- Header Content -->

      <div class="row">
        <div class="six columns">
          <iframe width="442" height="325" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%= @demographic.latitude %>+<%= @demographic.longitude %>&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=<%= @demographic.latitude %>,<%= @demographic.longitude %>&amp;output=embed"></iframe>
        </div>

        <div class="six columns">
          <div class="panel">
            <h4 class="hide-for-small"> <%= @demographic.city %>,  <%= @demographic.state %><hr/></h4>
            <h5 class="subheader">
              Avg household income: <%= number_to_currency(@demographic.household_income, :precision => 0 ) || "No data" %><br>
              Avg value of single family home: <%= number_to_currency(@demographic.single_family_home, :precision => 0) || "No data"  %><br>
              Single Males: <%= number_to_percentage(@demographic.single_males, :precision => 2) || "No data"  %><br>
              Single Females: <%= number_to_percentage(@demographic.single_females, :precision => 2) || "No data" %><br>
              Median Age: <%= @demographic.median_age || "No data" %><br>
              Homes with kids:  <%= number_to_percentage(@demographic.homes_with_kids, :precision => 2) || "No data"  %><br>
              Owners: <%= number_to_percentage(@demographic.owners, :precision => 2) || "No data"  %><br>
              Renters: <%= number_to_percentage(@demographic.renters, :precision => 2) || "No data"  %><br>

            </h5>
          </div>
        </div>
        <div class="six columns">
              <div class="panel">
              <h5>Add to binder</h5>
            </div>
            </div>
      </div>


          <div class="row">
           <div class="twelve columns">
              <div class="panel">
                <h5>Search again</h5>
                <%= render :partial => "search_form" %>
              </div>
            </div>
          </div>



                <div class="row">
              <div class="six mobile-two columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>

              <div class="six mobile-two columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>

      <!-- End Header Content -->



