      <!-- Header Content -->

      <div class="row">
        <div class="seven columns">

          <iframe width="520" height="358" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%= @demographic.latitude %>+<%= @demographic.longitude %>&amp;ie=UTF8&amp;t=m&amp;z=14&amp;ll=<%= @demographic.latitude %>,<%= @demographic.longitude %>&amp;output=embed"></iframe>
        </div>

        <div class="five columns">
          <div class="panel">
            <h4 class="hide-for-small"> <%= @demographic.city %>,  <%= @demographic.state %><hr/></h4>
            <h5 class="subheader">
              Avg household income: <strong><%= number_to_currency(@demographic.household_income, :precision => 0 ) || "No data" %></strong><br>
              Avg value of single family home: <strong><%= number_to_currency(@demographic.single_family_home, :precision => 0) || "No data"  %></strong><br>
              Single Males: <strong><%= number_to_percentage(@demographic.single_males, :precision => 2) || "No data"  %></strong><br>
              Single Females: <strong><%= number_to_percentage(@demographic.single_females, :precision => 2) || "No data" %></strong><br>
              Median Age: <strong><%= @demographic.median_age || "No data" %></strong><br>
              Homes with kids:  <strong><%= number_to_percentage(@demographic.homes_with_kids, :precision => 2) || "No data"  %></strong><br>
              Owners: <strong><%= number_to_percentage(@demographic.owners, :precision => 2) || "No data"  %></strong><br>
              Renters: <strong><%= number_to_percentage(@demographic.renters, :precision => 2) || "No data"  %></strong><br>
            </h5>
            <hr/>

             <% if @demographic.city == "Sorry" %>
              <a class="radius button small" href="/">Search again</a>
            <% else %>
              <a href="#" class="radius button small" data-reveal-id="myModal">Add city to binder</a>
            <% end %>

          </div>
        </div>
      </div>

<% if @demographic.household_income.present? %>


      <div class="row">
        <div class="seven columns">
          <div class="panel">
            <h6>National stats</h6>
            <h6 class="subheader">
              <%= render :partial => "national_stats" %>
            </h6>
          </div>
        </div>



        <div class="five columns">
          <div class="panel">
            <h6><%= @demographic.city %> compared to the nation</h6>
            <h6 class="subheader">
              <%= render :partial => "usa_vs_neighborhood" %>
            </h6>
          </div>
        </div>
      </div>
<!--
      <div class="row">
        <div class="six columns">
          <div class="panel">
            <h5>National stats</h5>
            <h6 class="subheader">
              <%#= render :partial => "national_stats" %>
            </h6>
          </div>
        </div>


        <div class="six columns">
          <div class="panel">
            <h5>Search again</h5>
            <%#= render :partial => "search_form" %>
          </div>
        </div>
      </div> -->

<% end %>
      <!-- Create new binder -->
      <div id="myModal" class="reveal-modal [expand, xlarge, large, medium, small]">
        <h2>Add city to binder</h2>
       <%= form_for @demographic, :html => {:class => 'custom'}  do |f| %>
        <%= f.collection_select :binder_ids, Binder.all, :id, :name %>
        <%= f.text_field  :note %>
        <%= f.submit "Add city to binder with optional note...", :class => "radius button small" %><br><br>
        <% end %>

        <a class="close-reveal-modal">&#215;</a>
      </div>


