<ul class="demo">
<li>State: <%= @demographic.state  %></li>
<li>City:  <%= @demographic.city %></li >
<li>Avg household income: <%= number_to_currency(@demographic.household_income, :precision => 0) %></li >
<li>Avg single family home value:  <%= number_to_currency(@demographic.single_family_home, :precision => 0) %></li>
<li>Single Males: <%= number_to_percentage(@demographic.single_males, :precision => 2) %></li >
<li>Single Females:  <%= number_to_percentage(@demographic.single_females, :precision => 2) %></li>
<li>Median Age: <%= @demographic.median_age %></li >
<li>Homes with kids:  <%= number_to_percentage(@demographic.homes_with_kids,  :precision => 2) || "No data"  %></li>
<li>Owners: <%= number_to_percentage(@demographic.owners, :precision => 2) %></ li>
<li>Renters: <%= number_to_percentage(@demographic.renters, :precision => 2)  %></li>
<li>Note: <%= @demographic.note  %></li>
</ul>